* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #6F86FF;
}

.off-screen-menu {
    z-index: 1000;
    background-color:  rgb(34, 37, 49);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}

nav {
    padding: 1rem;
    display: flex;
    margin-left: auto;
}

.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
    z-index: 1001;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: white;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.header {
    background-color: #62929E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.main {
    flex-grow: 1;
}

.footer {
    background-color: #546A7B;
    text-align: center;
    font-size: 2rem;
}
