.information {
    margin: 16px;
    padding: 6px;
    border-radius: 5px;
    border: 5px solid black;
}

.user-information {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
    width: 90%;
}

.contact-link {
    background-color: #546A7B;
    color: black;
    padding: 6px;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    margin: 16px;
}