.headshot {
    width: 100%;
    height: auto;
    max-width: 400px;
    
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbdbd6;
    padding: 2rem;
    padding-bottom: 0;
    text-align: center;
}

.intro-text {
    margin: 30px;
}

.intro-short {
    font-size: 1.5rem;
}

.slideshow {
    position: relative;
    display: flex;
    height: 100vh;
    margin: 2rem auto;
    overflow: hidden;
    touch-action: pan-y;
}

.slide {
    display: none;
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.hover-grid {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    z-index: 2;
    pointer-events: none;
}

.hover-grid div {
    width: 100%;
    height: 100%;
    pointer-events: auto;
    background: transparent;
}

.slide.active {
    display: flex;
}

.slide-1 {
    background-image: url("../img/office.jpg");
}

.slide-2 {
    background-image: url("../img/slope.jpg");
}

.slide-3 {
    background-image: url("../img/store.jpg");
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 2.5rem;
    padding: 0.4rem 0.8rem;
    cursor: pointer;
    z-index: 10;
}

.prev { 
    left: 10px; 
}
.next { 
    right: 10px; 
}

.me {
    height: 70%;
    max-height: 400px;
    width: auto;
    object-fit: contain;
}

.about-header {
    text-align: center;
    text-decoration: underline;
    margin: 16px;
    font-size: 2rem;
}

.first-text,
.second-text {
    background-color: #62929ed8;
    padding: 16px;
    margin: 16px;
    border: 3px solid black;
    border-radius: 5px;
    flex: 1;
}

.tech-skills {
    margin: 20px auto;
    text-align: center;
}

@media (min-width: 750px) {
    .slide {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
    }

    .first-text,
    .second-text {
        flex: 1;
        max-width: 300px;
        padding: 16px;
    }

    .me {
        flex: 0 0 auto;
        max-height: 600px;
    }

    .slideshow {
        width: 80%;
    }
    
}