.project {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 16px;
}

.project-img-wrapper {
    width: 100%;
    max-width: 500px;
    margin: 16px;
}

.project-img {
    width: 100%;
    height: auto;
    display: block;
}

.project-desc {
    margin: 16px;
}

.project-nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.project-link,
.project-page {
    background-color: #62929E;
    color: black;
    border-radius: 5px;
    padding: 3px;
    width: 200px;
    text-align: center;
}

@media (min-width: 750px) {
    .project {
        flex-wrap: nowrap;
    }

    .project-title {
        font-size: 2rem;
    }

    .project-info {
        font-size: 1.5rem;
    }
    
}
